<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<host>10.162.181.236</host>
    <testsuites>
            <testsuite>com.omniture.uiautomation.initialize.tests</testsuite>
            <testsuite>com.omniture.uiautomation.report.tests</testsuite>
            <testsuite>com.omniture.uiautomation.bookmark.tests</testsuite>
            <testsuite>com.omniture.uiautomation.dashboard.tests</testsuite>
            <testsuite>com.omniture.uiautomation.adminconsole.reportsuite.tests</testsuite>
            <testsuite>com.omniture.uiautomation.adminconsole.company.tests.bvt</testsuite>
            <testsuite>com.omniture.uiautomation.adminconsole.usermanagement.tests.bvt</testsuite>
            <testsuite>com.omniture.uiautomation.adminconsole.codemanager.tests</testsuite>
            <testsuite>com.omniture.uiautomation.adminconsole.codemanager.tests.bvt</testsuite>
            <testsuite>com.omniture.uiautomation.adminconsole.logs.test.bvt</testsuite>
            <testsuite>com.omniture.uiautomation.alert.tests</testsuite>
            <testsuite>com.omniture.uiautomation.calendar.tests</testsuite>
            <testsuite>com.omniture.uiautomation.general.tests</testsuite>    
            <testsuite>com.omniture.uiautomation.segmentation.tests</testsuite>
            <testsuite>com.omniture.uiautomation.report.testcases</testsuite>
    </testsuites>
    <environments>
                <environment>
                        <name>QE1</name>
                        <company>ascAuto</company>
                        <username>yluo</username>
                        <password>321</password>
                        <baseUrl>https://acc.www.qe1.omniture.com</baseUrl>
                </environment>
                <environment>
                        <name>QE2</name>
                        <company>ascAuto</company>
                        <username>yluo</username>
                        <password>321</password>
                        <baseUrl>https://acc.www.qe2.omniture.com</baseUrl>
                </environment>
                <environment>
                        <name>Beta-main</name>
                        <company>ascAuto</company>
                        <username>yluo</username>
                        <password>321</password>
                        <baseUrl>https://beta.omniture.com</baseUrl>
                </environment>
                <environment>
                        <name>Sanjose</name>
                        <company>ascAuto</company>
                        <username>yluo</username>
                        <password>321</password>
                        <baseUrl>https://sc.omniture.com</baseUrl>
                </environment>
                <environment>
                        <name>Dev</name>
                        <company>OBU QA</company>
                        <username>scauto</username>
                        <password>321</password>
                        <baseUrl>https://acc-sc.vm379.dev.omniture.com</baseUrl>
                </environment>
                 <environment>
                        <name>Live</name>
                        <company>ascAuto</company>
                        <username>yluo</username>
                        <password>321</password>
                        <baseUrl>https://sc.omniture.com</baseUrl>
                </environment>   
    </environments>
</config>